
<!-- SingUP Form -->
<div class="seller-auth">
  <div class="seller-header">
    <h1>Sign-UP</h1>
  </div>
  <form [formGroup]="sellerSignUp" (ngSubmit)="submitSellerSingUPForm(sellerSignUp.value)">
    <div class="common-form">
      <div class="form-group">
        <input class="form-input" formControlName="username" type="text" placeholder="Enter username"><small *ngIf="sellerSignUp.controls['username'].invalid && sellerSignUp.controls['username'].touched" class="error-msg">Username field is required</small>
      </div>
      <div class="form-group">
        <input class="form-input" formControlName="email" type="email" placeholder="Enter email">
        <small *ngIf="sellerSignUp.controls['email'].invalid && sellerSignUp.controls['email'].touched" class="error-msg">Email field is required</small>
      </div>
      <div class="form-group">
        <input class="form-input" formControlName="password" type="password" placeholder="Enter password"><small *ngIf="sellerSignUp.controls['password'].invalid && sellerSignUp.controls['password'].touched" class="error-msg">Password field is required</small>
      </div>
      <button class="form-button form-input" [disabled]="sellerSignUp.invalid">SignUp</button>
    </div>
  </form>
</div>

<!-- Login Form -->
<!-- <div class="seller-auth">
  <div class="seller-header">
    <h1>Login Here</h1>
  </div>
  <form [formGroup]="sellerSignUp" (ngSubmit)="submitSellerSingUPForm(sellerSignUp.value)">
    <div class="common-form">
      <div class="form-group">
        <input class="form-input" formControlName="username" type="text" placeholder="Enter username"><small *ngIf="sellerSignUp.controls['username'].invalid && sellerSignUp.controls['username'].touched" class="error-msg">Username field is required</small>
      </div>
      <div class="form-group">
        <input class="form-input" formControlName="email" type="email" placeholder="Enter email">
        <small *ngIf="sellerSignUp.controls['email'].invalid && sellerSignUp.controls['email'].touched" class="error-msg">Email field is required</small>
      </div>
      <div class="form-group">
        <input class="form-input" formControlName="password" type="password" placeholder="Enter password"><small *ngIf="sellerSignUp.controls['password'].invalid && sellerSignUp.controls['password'].touched" class="error-msg">Password field is required</small>
      </div>
      <button class="form-button form-input" [disabled]="sellerSignUp.invalid">SignUp</button>
    </div>
  </form>
</div> -->
