/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  color: rgb(139, 9, 231);
}
