/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  color: rgb(139, 9, 231);
}
.seller-auth, .seller-add-product{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  .common-form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-input{
       width: 350px;
      font-size: 20px;
      outline: none;
      border: 1px solid rgb(139, 9, 231);
      border-radius: 5px;
      text-indent:5px;
      padding: 5px;
    }
    .form-button{
      cursor: pointer;
    }
    .error-msg{
      display: block; color: red;
    }
    .link{
      cursor:pointer;
      text-decoration: underline;
    }
  }
  .login-error, .signup-error,.invalid-form-error{
    color: red;
  }
}
